@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

/* วิธีกำหนด footer ให้ชิดล่างสุดของเว็บไซต์ตลอด ไม่ว่าเนื้อหา content จะเพิ่มหรือลดก็ตาม */

html {
    position: relative;
    min-height: 100%;   /* กำหนดค่าความสูงต่ำสุด (อย่างน้อย) ของพื้นที่ให้ element */
}

body {
    margin-bottom: 80px;    /* margin-bottom มีค่าเท่ากับความสูงของ footer เพื่อไม่ให้เนื้อหา content ถูกบังด้วย footer */
}

/* วิธีกำหนด footer ให้ชิดล่างสุดของเว็บไซต์ตลอด ไม่ว่าเนื้อหา content จะเพิ่มหรือลดก็ตาม */





.nav-wrap {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu {
    width: 250px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu li a {
    text-decoration: none;
    font-size: 13px;
    color: #111111;
}

.menu li a:hover {
    color: #555555;
    text-decoration: underline;
}

.btn-menu {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-menu i {
    color: #777777;
    font-size: 1.5em;
}

.btn-menu i:hover {
    color: #222222;
}

.btn-profile {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.btn-profile img {
    width: 100%;
}





.google-search-wrap {
    height: calc(100vh - 50px - 80px);   /* หาความสูงของ content ที่รวมกับความสูงของ nav และ footer แล้วเนื้อหาทั้งหมดรวมกันเต็มหน้าจอพอดี โดยกำหนดความสูงของ content ให้มีความสูงเต็มพื้นที่ของจอเท่ากับ 100vh แล้วลบความสูงของ nav และความสูงของ footer ออก จะได้ความสูงของ content ที่รวมความสูงของ nav และ footer แล้วเนื้อหาทั้งหมดรวมกันเต็มหน้าจอพอดี */
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.google-search__input {
    width: 585px;
    height: 45px;
    margin: 25px 0;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #bcbcbc;
    border-radius: 30px;
}

.google-search__input:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.google-search__input i,
.google-search__input img {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaaaaa;
}

.google-search__input img {
    cursor: pointer;
}

.google-search__input input[type="text"] {
    width: 88%;
    height: 40px;
    border: none;
    font-size: 16px;
    outline: none;
}





.google-search__button {
    width: 274px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-search {
    width: 130px;
    height: 35px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #444444;
    font-size: 14px;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: all 0.1s;
}

.btn-search:hover {
    border: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #000000;
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
}





.google-search__lang span {
    display: inline-block;
    text-align: center;
    font-size: 13px;
}

.google-search__lang a {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    color: #1a0dab;
}

.google-search__lang a:hover {
    text-decoration: underline;
}





/* วิธีกำหนด footer ให้ชิดล่างสุดของเว็บไซต์ตลอด ไม่ว่าเนื้อหา content จะเพิ่มหรือลดก็ตาม */

.footer-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;   /* ความสูงของ footer */
}

/* จบ วิธีกำหนด footer ให้ชิดล่างสุดของเว็บไซต์ตลอด ไม่ว่าเนื้อหา content จะเพิ่มหรือลดก็ตาม */

.footer {
    height: 40px;
    border-top: 1px solid #dddddd;
    background-color: #f2f2f2;
}

.footer__country, .footer__menu {
    width: 96%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__country span {
    color: #444444;
    font-size: 14px;
}

.footer__menu__help:nth-child(1) {
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__menu__help:nth-child(2) {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__menu__help li a {
    color: #444444;
    font-size: 14px;
    text-decoration: none;
}

.footer__menu__help li a:hover {
    text-decoration: underline;
}